[2018-10-24 12:34] tiblu opened #5 "Product/Company - statistics from Citizen OS API"
**Overview**

Citizen OS web page needs to show live statistics from Citizen OS open statistics API - https://api.citizenos.com/api/stats

![image](https://user-images.githubusercontent.com/7405383/47430516-3d6c9480-d7a2-11e8-96f7-25f3c112e94e.png)

**TODO:**

- [ ] Integrate statistics from https://api.citizenos.com/api/stats to https://citizenos.com/product/ pages statistics component.
- [ ] Int

[2018-10-24 12:46] tiblu opened #6 "Localisation - Mark untranslatable strings in Crowdin"
**Overview**

In order to simplify translation of the application we need to separate out strings that do and don't need translation.

**TODO:**

- Mark untranslatable strings using the "Hide string" functionality in Crowdin (https://crowdin.com/project/citizenos-web)

![image](https://user-images.githubusercontent.com/7405383/47431151-e5369200-d7a3-11e8-8349-5a2c54deecb9.png)

[2018-10-24 12:47] tiblu commented on #6
@liinaguiter Once the copy review has been completed, please let @argoroots know and he will mark the untranslatable strings.

[2018-10-24 12:49] tiblu opened #7 "Localisation - copy review"
**Overview**

Review the website content from localisation perspective.

**TODO**

- [ ] Review content
- [ ] Make a  bug/feature in GitHub for every shortcoming
- [ ] Once done, notify related parties in https://github.com/citizenos/citizenos-web/issues/6

[2018-10-24 13:09] tiblu commented on #7
@oksks Created the task for you on the copy review

[2018-10-24 14:48] tiblu opened #9 "Localisation - set up Crowdin in-context translation"
**Overview**

Set up Crowdin in-context translation to ease the translation process.

**TODO**

- [x] Configure pseudo language. Use the same as Citizen OS FE - Afar (AA)
- [x] Insert the Crowdin in-context snipet - https://support.crowdin.com/in-context-localization/

[2018-10-24 17:14] tiblu commented on #9
https://github.com/citizenos/citizenos-web/pull/13

[2018-10-24 17:20] tiblu commented on #9
@oksks Done, visible here - https://citizenos.com/aa/

[2018-10-24 17:20] #9 closed

[2018-11-07 16:29] tiblu opened #17 "/products - broken layout"
**Overview**

![image](https://user-images.githubusercontent.com/7405383/48145212-0a0a2980-e2bb-11e8-95ed-0b62b35bb178.png)

[2018-11-07 16:35] tiblu commented on #5
@argoroots The https://citizenos.com/product/ looks great.
@oksks Are we changing the layout to "Discussions: X"? Is that a decision and we're going to execute? Are the headings below or above the numbers?
@liinaguiter What are we doing with the integrated statistics? See "TODO" lists 2nd item.

[2018-11-07 16:38] tiblu commented on #7
@oksks Any progress on this?

[2018-11-07 19:42] oksks commented on #7
sorry, no, since to my knowledge Margo hasn't reviewed the web yet + his proposed changes haven't been implemented by himself or Liina + website bugs haven't been fixed yet = web isn't final from l10n perspective.

@tiblu pls can haz Github training? for a non-techie, it's really hard to orient and I don't know how to submit bugs or track stuff or see what I'm supposed to deliver.

[2018-11-12 11:37] kevincrepin opened #18 "Website UI issues"
A list of things that are (mainly visually) not yet on point on the website. Let's discuss these and work on them:

**Homepage**

* If we keep only one button, it should be more like a button. But if we still want more cta’s there, then let’s bring them back.
* If there are only 2 news items, let’s have them centered.
* Read more in news items should be aligned to the bottom – everywhere the same.

[2019-01-09 14:51] oksks opened #22 "BUGS: Mobile web review: 9 issues"
1. 1/3 of the front page text block (incl. link to video) gets cut off when text expands in translation:
![20190109_165931](https://user-images.githubusercontent.com/34126353/50907430-09fbe680-1430-11e9-8b36-a545a9cbe571.jpg)

2. Yellow underline/emphasis doesn't get carried over to translations, becoming gibberish:
![20190109_160628](https://user-images.githubusercontent.com/34126353/50904370-c35

[2019-02-25 13:45] oksks commented on #22
Tested on mobile, bugs seem to be resolved now! Thanks @argoroots!

[2019-02-25 13:45] #22 closed

[2020-12-16 22:32] liinaguiter opened #148 "citizenos.com/et/e-kaasamiskoolitus page creation"
---
name: New page creation
assignees:  @argoroots

---

Please make a new page on the website, a copy of /pyln. The new page should have the url https://citizenos.com/et/e-kaasamiskoolitus. It will be only in Estonian at the moment.

The webinar registration e-mail list should be "E-kaasamiskoolituse uudiskiri" audience on MailChimp. The email list has been created on MailChimp, you have access t

[2020-12-16 22:40] liinaguiter opened #149 "Update logo on /pyln page to new logo"
title: Update logo on /pyln page to new logo
assignees:  @argoroots

Our logo has changed, please use new one with space between Citizen and OS.

I think this is the right logo, but not 100% sure:
![I think this is the right logo, but not 100% sure](https://user-images.githubusercontent.com/34899902/102415119-4fec5c80-4000-11eb-8fe6-72250970da16.png).

Logo files can be found [here:](https://drive

[2020-12-16 22:54] liinaguiter opened #150 "'Platform' page back to 'Product'"
Sorry to have to revert a decision, @argoroots, but 'Product' page tab was better than 'Platform', so please let's go back to that.

[2020-12-16 23:35] liinaguiter opened #151 "New 'Media bar'"
Assigned to @argoroots

We have interviews published in media now, that we can showcase. Asked for a ['media bar' design from Kevin:](https://projects.invisionapp.com/d/main#/console/14853137/322553706/preview)

Kevin: " I suggest putting it under the news block."
I (Liina) think that the media bar could be present on most pages: landing page, product, news, vision, community.

Kevin: "I added 4 l

[2020-12-16 23:43] liinaguiter opened #152 "Latest news links are missing on landing page"
Assigned: @argoroots

Latest news links are missing on landing page.

![Screenshot 2020-12-15 at 17 13 27](https://user-images.githubusercontent.com/34899902/102419788-34398400-4009-11eb-9d99-e3b81d805e7d.png)

[2020-12-16 23:46] liinaguiter opened #153 "News page has grown by unnecessary section"
Assigned: @argoroots

'Likeminded organisations is not really needed on the 'News' page. I suppose this has created itself over time?

<img width="990" alt="Screenshot 2020-12-17 at 01 43 55" src="https://user-images.githubusercontent.com/34899902/102419900-795db600-4009-11eb-97a2-47ff8bd080b3.png">

[2020-12-16 23:50] liinaguiter opened #154 "Remove section from Landing page"
Assigned: @argoroots

What? Propose to remove this section from the Landing page: both 'A word from the team' and 'Our Partners & Supporters'.

Why? 'About us' link is at the footer, where is it's logical place. The media bar replaces the function of the 'Our Partners & Supporters' section.

<img width="1277" alt="Screenshot 2020-12-17 at 01 47 05" src="https://user-images.githubusercontent.com/34

[2020-12-17 14:27] #152 closed

[2020-12-17 14:27] #153 closed

[2020-12-17 14:33] #154 closed

[2020-12-17 14:35] liinaguiter commented on #151
@kevincrepin, we also need the '[Kuku radio](https://kuku.postimees.ee/)' logo, '[World Cleanup Day](https://www.dropbox.com/sh/29mzqde6dip80ob/AACP3DujNAw-6WFvrY4-nqwta/WCD%20logo%20no%20date?dl=0&subfolder_nav_tracking=1)' logo (without date), '[rohelised](https://erakond.ee/)' logo and '[ProBintan]'(https://bintan.batampos.co.id/2020/07/02/dorong-tiap-desa-punya-sistem-pengelolaan-sampah/?__cf_

[2020-12-17 14:49] #150 closed

[2020-12-17 14:52] #148 closed

[2020-12-17 15:23] #149 closed

[2020-12-28 17:35] liinaguiter opened #155 "Enhancement: Make text not wrap on webinar landing page template"
**Make text not wrap on webinar landing page template.
Template is used for /et/e-kaasamiskoolitus, /pyln and /erasmus at the moment.**

The main body of the text would be more easily readable if it did not wrap.
Applicable to after the 'Registration box', so starting from  'Koolituse eesmärk'.

<img width="1341" alt="Screenshot 2020-12-28 at 19 25 25" src="https://user-images.githubusercontent.co

[2021-01-11 17:00] kevincrepin commented on #151
@argoroots Can you try these? They have the same height but spacing between them should still be done in code. Seems normal I think? :D

[media_images.zip](https://github.com/citizenos/citizenos-web/files/5797208/media_images.zip)

[2021-02-09 12:10] #151 closed

[2021-03-23 14:33] tiblu opened #161 "Enhcancement: Use Plausible for analytics"
- [ ] Remove all other tracking
- [ ] Add Plausible tracking snippet to the `<meta>` tag of the page:
 `<script async defer data-domain="citizenos.com" src="https://stats.citizenos.com/js/index.js"></script>`

[2021-03-31 11:22] #7 closed

[2021-03-31 11:24] #17 closed

[2021-03-31 11:28] #18 closed

[2021-03-31 13:27] liinaguiter opened #162 "BUG: Case study image too close to the edge (of the page)"
**What is the problem?**
On the 'Product' page,
Case study image (first one, accompanies case study: "Estonia’s Citizen Initiatives Platform") is too close to the edge (of the page). I know I've created this, but unfortunately don't know how to make it align with the rest of the images.

<img width="1412" alt="Screenshot 2021-03-31 at 14 31 25" src="https://user-images.githubusercontent.com/348999

[2021-03-31 13:32] liinaguiter opened #163 "BUG: Cannot change website language on mobile"
**What is the problem?**
Cannot change website language on mobile. Can see the language selector, but window closes if I click on it.

![166307683_568071597487472_4613278309019389160_n](https://user-images.githubusercontent.com/34899902/113152162-82803500-923e-11eb-97b4-19a232da2f21.jpg)

[2021-03-31 14:58] liinaguiter opened #164 "Upgrade: Create 'All features' button on 'Product' page + separate page for features only"
**What is the problem?**
Please create 'All features' button on 'Product' page under the 'features' list.
![166589791_198150658432352_7019525597709655990_n](https://user-images.githubusercontent.com/34899902/113159720-82cffe80-9245-11eb-8de6-c89782d22378.jpg)

Also, please create a separate page for all features.
So that when the 'All features' button is clicked, one ends up on that new page.
For

[2021-03-31 15:20] liinaguiter opened #165 "Enhancement: Please make 'Latest news' block viewable in all languages."
Please make 'Latest news' block viewable in all languages. Actually bring back, as they originally were viewable in all languges.

The justification earlier was that it is strange to see text in another language all of a sudden. But now we have the Indonesian website translated only partially, so it is justified to also be able to see the 'News' section, which is very important for our users to no

[2021-03-31 15:29] liinaguiter opened #166 "Enhancement: Give webinar landing page template proper website header and footer"
**What is the problem?**
The webinar landing page template needs a proper website header and footer.

At the current header, replace COS logo with website header.
At the footer, replace COS logo and slogan with footer.

https://projects.invisionapp.com/d/main#/console/14853137/352164402/preview

At the moment, webinar landing page template is used for
1. et/e-kaasamiskoolitus
2. /pyln

[2021-03-31 15:52] liinaguiter opened #167 "ASAP: Fix code to show a background image on 'Projects' page."
**What is the problem?**
Please change the the last image on the page, projects-pyln.jpg to be a background image like this:
<img width="1420" alt="Screenshot 2021-04-07 at 15 00 44" src="https://user-images.githubusercontent.com/34899902/113863192-0e034400-97b2-11eb-95cf-564bef3487be.png">

[2021-04-01 09:50] argoroots commented on #166
Done!

[2021-04-01 09:50] #166 closed

[2021-04-01 09:52] liinaguiter opened #169 "Change 'Vision' page to 'Case studies'"
**What is the problem?**
Please bring back the former 'Vision' page from the afterlife.

And change it to be 'Case Studies' tab.
Thank you!

[2021-04-01 09:55] argoroots commented on #165
Done!

[2021-04-01 09:55] #165 closed

[2021-04-01 15:10] liinaguiter opened #170 "BUG: If a page is only in one language, should not show language selector"
**What is the problem?**
If a page is only in one language, should not show language selector

Right now there is only 1 page, which only exist in 1 language only and do not exist in other lanaguages.

/et/e-kaasamiskoolitus

[2021-04-05 11:13] liinaguiter opened #171 "ASAP Update: create new page www.citizenos.com/erasmus"
**What is the problem?**
Please create new page www.citizenos.com/erasmus.
Please use the /pyln template (webinar template)
Text is the following: https://docs.google.com/document/d/1aLEJaYHKlTI0TswtlwiJ-ywfGUUmXnpao0LX46uaRYE/edit

No translation needed yet.

[2021-04-05 18:47] liinaguiter opened #172 "BUG: /pyln page is in Indonesian, should be English."
/pyln page is in Indonesian, should be in English.

Thank you!

[2021-04-07 18:33] #171 closed

[2021-04-07 18:33] liinaguiter commented on #171
Done.

[2021-04-07 18:34] #167 closed

[2021-04-09 14:22] liinaguiter commented on #164
Got it DONE by myself!

[2021-04-09 14:22] #164 closed

[2021-04-15 13:18] #170 closed

[2021-04-26 07:52] liinaguiter commented on #169
Vision page still exists, just invisible, so can I can go ahead with text and image changes.

[2021-05-06 13:54] #162 closed

[2021-05-06 14:06] liinaguiter opened #179 "BUG: Russian bottom menu needs fixing in smaller browser window"
In a smaller browser window, the russinan bottom menu looks quite bad, would a soft-hyphen solve the problem? (Helen is suggesting)

![Screenshot 2021-05-06 at 17 04 39](https://user-images.githubusercontent.com/34899902/117311984-61d67b00-ae8d-11eb-99fd-0d0d36f56ead.png)

[2021-05-10 15:30] liinaguiter opened #182 "BUG: If on EST news site -- go to EST article -- gives ENG article instead"
If on https://citizenos.com/et/uudised/, click on an article that is translated into Estonian (latest), then end up on English version of the article.

[2021-05-11 07:28] argoroots commented on #182
Urls must be translated in Crowdin.

[2021-05-11 10:28] #172 closed

[2021-05-11 10:35] argoroots commented on #163
done

[2021-05-11 10:35] #163 closed

[2021-05-11 10:48] argoroots commented on #179
Please add soft-hyphens in Crowdin.

[2021-05-11 12:46] #155 closed

[2021-05-11 13:20] #182 closed

[2021-05-12 19:32] helenkask commented on #179
@argoroots  - added, please commit translations, thx

[2021-05-17 09:29] liinaguiter opened #191 "Enhancement: 'request a demo' email address"
We're getting a 'Request a demo' button on the website and the question is, which email should the request land on.

If we use info@citizenos.com, which is an alias to Margo, Anett and Liina, then if we put on 'out of office' reply to our personal email, then the demo request gets it as well, which is not good.

If we use support@citizenos.com, then the demo request get an automatic reply, which i

[2021-05-18 13:04] BeccaMelhuish commented on #191
@liinaguiter what about if there was a new email for demo requests (with a specific demo related auto reply), but all of those emails got auto-forwarded to the support email? Then only the support email would actually need to be checked.. Does that work?

[2021-06-10 15:42] liinaguiter opened #205 "BUG: Remove cookie notification from website"
Please remove cookie notification from website.

We removed Google Analytics from the website and replaced it with Plausible. We no longer collect any cookies.

Thank you!

[2021-06-14 09:51] #205 closed

[2021-07-19 12:53] liinaguiter opened #209 "Enhancement: Add grey background to a part of the /pyln page"
Please add a grey background (to distinguish this first paragraph from the rest of the text) on this page: https://citizenos.com/participatory-youth-leadership-network/ according to this screenshot:

![Screenshot 2021-07-19 at 15 49 55](https://user-images.githubusercontent.com/34899902/126162567-88fc95c1-1476-4c2c-a063-518547c31a06.png)

Thank you!

[2021-07-19 13:05] liinaguiter opened #210 "BUG: Change Erasmus and PYLN pages to be only in ENG"
Please change 'Projects' page:https://citizenos.com/erasmus/ and https://citizenos.com/pyln/ pages to be only in English (still viewable in all languages). They were translated by mistake. The reason for the need is so that when changes are made on the pages, they do not show up as untranslated strings in CrowdIn.

Thank you!

[2021-07-20 11:04] liinaguiter opened #211 "BUG: Product page bottom image and counter off-center"
Product page: https://citizenos.com/product/ bottom image and counter are off-center. Please center. Thank you!

![Screenshot 2021-07-20 at 13 57 48](https://user-images.githubusercontent.com/34899902/126313631-f130c4d8-2dc7-4754-b9de-5d60ca5be1bf.png)

[2021-07-28 07:04] liinaguiter opened #222 "Update: Projects page will get 2 additional projects. Please add to design."
We have two additional projects to add to the list of projects on https://citizenos.com/projects/.

Please add two design blocks to the bottom, similar to these two:
<img width="761" alt="Screenshot 2021-07-28 at 10 01 02" src="https://user-images.githubusercontent.com/34899902/127278665-7eb0367a-decf-4ee4-a3f0-bb6f50f0dd7c.png">

Thank you!

[2021-09-16 20:53] #169 closed

[2021-09-16 20:55] liinaguiter commented on #191
After offline discussions, decided to keep on using info@citizenos.com for now.

[2021-09-16 20:55] #191 closed

[2021-09-16 21:09] #209 closed

[2021-10-19 15:28] #210 closed

[2021-10-19 16:19] liinaguiter opened #248 "BUG: Projects page cover image jumbled in mobile view"
Projects page cover image jumbled in mobile view:
![244993296_610170640399113_3630020989740062212_n](https://user-images.githubusercontent.com/34899902/137951336-fa06c1b7-7593-42a4-9043-3b7551d6ff7a.jpg)

[2021-12-07 12:56] seppviljar opened #258 "CLEAN-UP: stop syncing languages that we don't support"
There are a number of languages that are activated in Crowdin but do not get displayed in web.
Which means that every update creates quite a lot of "noise" by committing useless files

- scope: NL, BE, DE, ES, UK

To do:
- update Crowdin YML conf to YAML and exclude obsolete languages
- remove existing language files from repo
- test syncing

[2022-01-18 12:05] #248 closed

[2022-01-18 12:06] #222 closed

[2022-01-27 12:37] oksks commented on #211
@argoroots - this seems to still be the case.

[2022-01-27 12:52] oksks opened #273 "BUG: Language drop-down hover is broken in Help Centre"
**What is the problem?**
When in Help Centre, and hovering over language dropdown, it half-appears, while most of it is hidden behind the toolbar. It's unusable this way.

<img width="1308" alt="Screenshot 2022-01-27 at 12 25 59" src="https://user-images.githubusercontent.com/34126353/151362346-32013d32-3c1e-4737-9186-f1b0fec03ffc.png">

**Why is this a problem?**
It's broken and doesn't allow use

[2022-01-27 12:58] seppviljar commented on #258
Done, live

[2022-01-27 12:58] #258 closed

[2022-02-21 13:32] oksks opened #278 "Text-based page redesign"
**Current state:**
Our website currently looks quite empty, with huge images, lots of air around them, and very (VERY) little text.
And where we do have some text-heavy pages on our website, they look weirdly put together - they have a huge empty blue block (that takes half the space) on the left-hand side, and loads of text on the right-hand side. Probably they were designed differently, but some

[2022-02-22 21:49] oksks opened #279 "TASK: Remove Careers link from the footer"
Please remove "Careers" link from the footer, but leave the page be as we will need it someday.
Thanks!

[2022-02-22 21:50] oksks opened #280 "TASK: Please remove FAQ link from the footer"
Please remove FAQ link from the footer, but leave the page be, as we might need it someday.
Thanks!

[2022-02-23 10:56] oksks commented on #278
@kevincrepin asked:
_Do you by any chance already have some of the new copy so I can have an idea of how much there would/could be?
For the existing pages the amount of text stays?_

We don't have any new copy yet, but it could be something a'la on this page: https://citizenos.com/news/my-volunteer-experience-sara-sinha.
This one's also a lengthy one: https://citizenos.com/product/features/

For t

[2022-02-28 15:57] kevincrepin commented on #278
@oksks I made some templates for different amounts of content. Of course it's always better to have content to design, but there should be some flexibility here. of course some have very little content, which needs filler to give a reason why it's a page. I added some photos here and there, would be nice to have some more.

You can view the templates (desktop + mobile) here: https://www.figma.com/

[2022-03-01 09:51] #280 closed

[2022-03-01 11:51] oksks commented on #278
Thank you @kevincrepin, I really like what you did there with the small-medium-big division by content amount, and different blocks allow for easy plug-and-play to suit any particular need. I think you also hit the right note on the text vs. copy vs. "air" proportions we had in mind.
We'll go over it with @anettlinno and come back if anything else is needed :) Thanks!

[2022-03-03 13:50] oksks commented on #273
Same issue visible from the new Donate page

[2022-03-17 11:37] argoroots commented on #273
Done

[2022-03-17 11:51] argoroots commented on #211
Done

[2022-03-17 18:53] #211 closed

[2022-03-18 12:55] argoroots commented on #273
Good UX is to translate all pages, but I enabled localisation for Donate and Help pages as those are in Crowdin already.

[2022-03-30 17:34] oksks opened #287 "TASK: "Help request" form - email address needs to be compulsory"
**What needs to be done?**
Currently, adding an email address to your help request is optional. It should be compulsory, as we have to have contact details to be able to respond to users or get more details from them.

**Location**
https://citizenos.com/help/request

**Deadline**
By April 5, 2022

[2022-04-18 08:27] oksks opened #296 "TASK: Event template improvements"
**What needs to be done?**
We've reviewed the event page template, and found a few changes are needed - could you please make them a part of the style sheet, so any future events would have the same style?

- [x] - **Add space between headers and the following text:**
![image](https://user-images.githubusercontent.com/34126353/163773325-89aa516c-d6e9-4bc2-8ae6-d697a439b438.png)

- [x] - **Make the

[2022-04-18 08:33] oksks commented on #296
@argoroots please kindly make sure everything works in mobile view as well! :) Thanks.

[2022-04-19 10:29] #278 closed

[2022-04-19 11:44] oksks opened #298 "Frontpage redesign - UX review"
**Background info:**

We've decided to revamp the current website - reshuffle the structure and add a lot more content to all sections, as it's currently bare bones. We feel, that design should also be a bit more condensed, not as image-centered as it is now.

We're starting with the Frontpage, moving on to the next big sections later (Product page is next in line). We think it makes sense to make

[2022-04-22 07:13] kevincrepin commented on #298
Reviewed the structure and for me it's nice. A lot more informative than the current information. Creating this so Argo can take it into dev will take about 4 hrs, using the new templates as a basis.

[2022-04-26 08:25] oksks commented on #298
Thank you @kevincrepin! @anettlinno, what do you say? Can we go ahead with this?

[2022-04-27 06:54] anettlinno commented on #298
@oksks @kevincrepin yes, let´s do it :)

[2022-04-29 08:47] kevincrepin commented on #298
I will find some time next week to do this!

[2022-05-02 06:28] argoroots commented on #287
Done

[2022-05-02 08:17] oksks commented on #287
@argoroots - I was still able to send through a help request without adding an email address 🤔
Have you tested it?

[2022-05-02 10:38] argoroots commented on #287
"Works on my machine". Ehk on sul leht cachetud. Tee refresh.

[2022-05-02 10:42] oksks commented on #287
I did, tried both Chrome and Safari. I get no feedback my message didn't go through.
What is the programmed behaviour? Will the "Send" button be disabled, or user would get a pop-up message, or the email field would become red?

[2022-05-04 20:25] oksks commented on #298
Thanks @kevincrepin! Wow, this already looks miles better, cleaner and more "now", than the current one (jaysus, I'm shocked to realize how quickly and seamlessly design ages:( )

I agree 100% on illustrations vs photos, I know it's really hard to find new photos that'd work with existing ones.

Illustrations do look friendly, but tbh seem a bit too kindergarteny/children-book'y to me. But maybe,

[2022-05-04 20:50] oksks commented on #298
Also @kevincrepin I just thought to confirm, that out app redesign and web redesign styles are aligned, right? Please let me know if something I'm requesting for web is totally off the course, as I'm a total n00b and have no idea what I'm doing most of the time :P

[2022-05-05 10:08] kevincrepin commented on #298
Yes, the web and app will align :)

We have some different illustration packs that we found (and are affordable), maybe there's one that has your preference? We could use it as a basis and add more specific elements ourselves.

We're leaning towards positive and fun, but not childish:

1.
https://www.getillustrations.com/illustration-pack/surrealism-hand-drawn-vector-illustration-pack

2.
https://

[2022-05-06 07:12] oksks commented on #298
Thank you @kevincrepin!
We (me & @anettlinno) have reviewed the packs and - honestly - found it super hard to imagine these styles on our website, within the new design :D I'm also having trouble imagining, how these illustrations would be made to fit the context of a particular "chunk" - but that's your work and we trust you :)

SO! Style-wise, we like the first pack (surrealism) the most.
Howeve

[2022-05-10 11:32] kevincrepin commented on #298
Obviously if we could use, reuse or make additional illustrations like the mural that would be cool. But yes it would of course also take time & cost. Bit hard to say how much exactly because illustration work isn't our expertise. I would rather then that the artist herself makes an offer for this...

I think we could/would have 3 illustrations per page max... On longer pages more than on shorter

[2022-05-13 13:50] BeccaMelhuish commented on #298
Hi @kevincrepin! Me @anettlinno and @oksks just had a call re the home page design and here are a few updates for you :)

- We'd like the new design to look visually quite similar to the current design. For two reasons: (1) As we are only changing one page at a time, we want the existing pages to fit in nice and smoothly with the new page(s) when they are developed, so that it all feels nice an se

[2022-05-26 11:34] oksks opened #302 "TASK: Help Centre navigation update (2 tasks)"
**What needs to be done?**
Help Centre's current navigation is confusing and lacks a way for the user to have an overview of their path to a certain article, and a way to understand how to get back to a category or items.

- [x] **TASK 1** - We'd like the Help Centre to have a breadcrumbs-style navigation solution.

Example:
 ![image](https://user-images.githubusercontent.com/34126353/170479320-6e

[2022-05-27 20:28] oksks commented on #287
@argoroots

[2022-05-30 12:24] oksks commented on #298
@kevincrepin, in addition to what Becca asked for above, here are a few more observations me and Anett have arrived at:

- First chunk will have 2 CTA buttons: 1) Watch demo (leads to video), and 2) Use platform (instead of just one button)
- Top navigation - could it be a bit more separated from the rest of the page? So it would be a bit better visible. Especially the Use Platform button, is gets

[2022-05-31 05:59] argoroots commented on #302
Done

[2022-05-31 08:35] oksks commented on #302
Thank you @argoroots! Looks great.
@ilmartyrk, could you please kindly remove the back arrow on the app's version of Help Center as well :) Then I'll close this ticket.

[2022-05-31 11:26] oksks commented on #302
@argoroots, @ilmartyrk had noticed that breadcrumbs only appear when user arrives at the 3rd level - the article itself, not the category. But they should be visible on the 2nd level (category) as well - for example, on this page https://citizenos.com/help/login.

Could you please make sure that second level, category, also has this kind of navigation? Thank you!

[2022-06-07 19:57] #302 closed

[2022-06-07 20:00] oksks commented on #296
Hi @argoroots, it seems that the last item on the list still needs addressing.

[2022-06-08 08:22] anettlinno commented on #298
Here are some style examples that I feel are suitable for us:
No #1: https://drawkit.com/product/startups-tech-illustrations
No #2: https://drawkit.com/product/ai-futurism-illustrations

[2022-06-08 09:45] BeccaMelhuish commented on #298
Have looked through both websites and think my preference would be this one from Kevin's original selection - nice style and fairly relevant/easy to adapt activities:

https://www.getillustrations.com/illustration-pack/gusto-vector-illustrations

Though one thing to consider with whichever pack we end up with, would be making sure they look globally representative in terms of diversity :)

[2022-06-08 13:50] kevincrepin commented on #298
Hey,

Had a first couple go's with illustrations for the homepage.

v1: https://www.figma.com/proto/eHBSunqUv10fMcWmiEEXiv/Website?page-id=0%3A2160&node-id=1127%3A4370&viewport=-4037%2C133%2C0.25&scaling=min-zoom

v2: https://www.figma.com/proto/eHBSunqUv10fMcWmiEEXiv/Website?page-id=0%3A2160&node-id=1309%3A6519&viewport=-4037%2C133%2C0.25&scaling=min-zoom

Since the content for the homepage isn't

[2022-06-12 19:51] oksks commented on #298
Thanks @kevincrepin!
I personally feel like V1 suits us pretty well - it's simple, friendly and doesn't look boring. Having more diversity in the characters is the only request I have - repeating what @BeccaMelhuish has asked for above. We should have a proper representation of the global population.

Let's see what girls think of these options. I'm hoping to finalize this within the next week.

[2022-06-13 13:54] anettlinno commented on #298
Thanks a lot, @kevincrepin!

I also vote for v1 and agree with what @oksks said :)

[2022-06-13 15:42] BeccaMelhuish commented on #298
V1 is also fine by me!

Except for the diversity issue as above, and also not loving these colour combinations below.. But otherwise it's looking beautiful :)

![image](https://user-images.githubusercontent.com/61320526/173391774-e535ab3d-a369-429c-ae70-763804f0631f.png)

[2022-06-14 09:29] BeccaMelhuish commented on #302
Hi @oksks @argoroots @kevincrepin @ilmartyrk

Just caught up with this issue sorry - I wasn't getting notifications on this one. (Please do tag me in anything HC related now that I am project managing it :))

So I've had a look now, and there are still some issues to be solved, I'm afraid!

I saw Oks request to remove the back button on the app hasn't been done, but actually personally I think it'

[2022-06-15 09:36] ilmartyrk commented on #302
@BeccaMelhuish @oksks is correct, the arrow is on our app side. To solve the back arrow thing I can propose 2 solutions
1) We replace it with home icon so users can understand that it will return to the starting page of help-center
2) We setup postMessage system so that I can send command from APP to website inside iframe to go to previous page. This will also need @argoroots input, https://html.s

[2022-06-15 09:59] oksks commented on #302
I vote for #1!
Seems to solve all problems with almost no effort and imho is just fine UX-wise, too.

[2022-06-15 10:11] BeccaMelhuish commented on #302
How much time/effort would #2 take @ilmartyrk?

If time/effort isn't an issue then I'd vote for #2 and also making the "Help Centre" heading at the topic a link to Home, for the smoothest UX in my opinion :)

![image](https://user-images.githubusercontent.com/61320526/173802582-986f3a54-903b-4f4b-8ec7-ed7d101fcade.png)

[2022-06-15 10:22] ssin1901 opened #306 "TASK: Get search keywords from the Help Centre"
**What needs to be done?**
We would like to able to analyse what our users input into the search bar as part of our Know Our Users project.

![Screenshot 2022-06-15 at 13 18 02](https://user-images.githubusercontent.com/72747107/173804535-af4bcd8b-4bd4-47dc-ba9d-85e0751198df.png)

For our Know Our Users project, we need to collect aggregated and anonymised data about user activities such as search

[2022-06-15 14:43] kevincrepin commented on #302
My thoughts on the breadcrumbs / back topic and some other comments thrown in for good measure:

1. For me the breadcrumbs in the app help centre are not adding much value, but are adding noise. We have only 2 levels after the start page and we get into this situation that the title of the topic gets repeated in the breadcrumb. Not to mention the breadcrumb pushes the title of the topic down. So g

[2022-06-15 14:49] kevincrepin commented on #298
I made some changes to have better representation and this also changed the colouring of this illustration.
https://www.figma.com/proto/eHBSunqUv10fMcWmiEEXiv/Website?page-id=0%3A2160&node-id=1127%3A4370&viewport=-1886%2C519%2C0.13&scaling=min-zoom

But yes, I do believe the illustrations should incorporate the logo colours, whereas the UI should be softer. The illustrations are there to help set

[2022-06-15 16:41] BeccaMelhuish commented on #302
Super, thank you @kevincrepin, all sounds sensible! And we've spent so much time on the HC so far, would be great to make sure it looks great/works smoothly too :)

So @oksks and @ilmartyrk, based on this, shall we do the following? (And do we need to create separate issues for some of these things, or they are OK all together in this one?)

(1) Remove the breadcrumbs from the platform, so it's on

[2022-06-15 17:00] BeccaMelhuish commented on #298
Thank you @kevincrepin, so great to see it all coming together!! 😍

And the illustrations are definitely looking much better diversity-wise, but unfortunately their matching white tops made me think straight away of some kind of religious cult and then also of hospitals..

[2022-06-17 05:52] oksks commented on #306
Wow, that's superfast! Thank you @argoroots <3
@ssin1901 could you pls check and let us know if you've got what you needed? :) Thanks!

[2022-06-17 07:47] ssin1901 commented on #306
@argoroots thanks a million ! Got what is needed.

[2022-06-17 07:48] ssin1901 commented on #306
@oksks thank you too!

[2022-06-21 15:18] anettlinno opened #307 "Disappearing Yes/No field in the Help Center"
**Disappearing Yes/No field**
After responding to the "Was this helpful? Yes/No" field, that section vanishes! My thoughts are that the flow should be that after submitting either Yes or No, there is confirmation that the responses was submitted, and then the box remains in the same place but with the Yes or No (whichever they chose) in a different shade. (We may also want to think through how it

[2022-06-21 15:30] anettlinno opened #308 "Search bar problems"
**Search bar problems**
The problem (which Liina previously discussed with Argo) was that the way the search bar works is that if the word appears in the heading or the text then it shows up in the search results. But if the word is not typed exactly the same way as it is in the text, it doesn't appear. So for example, "invitation" brings up zero results, as I only use the shortened word "invites"

[2022-06-21 15:32] anettlinno commented on #308
@oksks do we know how much work it is for Argo to fix the search bar issue? Additionally, @ssin1901 do we have data about how often our Users currently use the search bar in Help Center. If we know these two things then we can make the decision :)

[2022-06-22 09:28] ssin1901 commented on #308
@anettlinno we have four unique conversions for the search bar (i.e 4 different visits) and 23 conversions in total.

[2022-06-22 09:58] oksks commented on #298
@argoroots, could you please help us with creating the new frontpage, based on Kevin's [design](https://www.figma.com/proto/eHBSunqUv10fMcWmiEEXiv/Website?page-id=0%3A2160&node-id=1127%3A4370&viewport=-1886%2C519%2C0.13&scaling=min-zoom).
Here's the final copy to populate designs with: [link](https://docs.google.com/document/d/11PIkOFd1GCy9YupCM11lO4Qw57CEziqKhJg2S3I4rjQ/edit?usp=sharing).

Please

[2022-06-22 10:12] oksks commented on #308
@BeccaMelhuish - I confirm, for me search bar acts the same way (Chrome) - it pulls up my Google search history in both cases, which is bad UX and should definitely be fixed asap.

@argoroots could you please comment on the questions, propose solutions and estimate fix time? Thanks!

[2022-06-22 10:19] oksks commented on #302
Thanks @BeccaMelhuish!
@ilmartyrk I'll leave you to decide on issue #1, and will move the rest of # to a new ticket for Argo to address.

[2022-06-22 10:27] kevincrepin commented on #307
We actually had this notification but somehow I didn't take it into the prototype :s
https://www.figma.com/file/KWTHiHwLZJ3ZFpNJfoVRXX/Platform-1.0?node-id=3334%3A41759

[2022-06-22 10:45] oksks opened #309 "TASK: Help Center layout/navigation issues"
**Background info**
We've gone through the Help Center and found a some behaviour/layout issues we'd like to iron out, for HC to function as intended and be convenient for users. Ticket with detailed info can be found [here](https://github.com/citizenos/citizenos-web/issues/302).

**Issues to resolve**
----
- [x] **1 - Fix back button behaviour.** [link to original comment](https://github.com/citi

[2022-06-22 10:46] #306 closed

[2022-06-23 08:19] BeccaMelhuish commented on #309
Thank you @oksks!

As all of these except #6 relate to the way the content is displaying on the platform version, am wondering if it will need work from both sides - @argoroots on the website and @ilmartyrk on the platform - to get it displaying just right on both?

Will also add the links to the designs again here too, for ease of comparison between what it is currently looking like and how Kevin

[2022-06-27 07:29] kevincrepin commented on #298
@oksks it makes sense before @argoroots starts with this that I go through the final copy as well and see whether everything still makes sense + there are visual assets for everything.

I requested access

[2022-06-28 08:10] kevincrepin commented on #298
@anettlinno @oksks @BeccaMelhuish I added more illustrations to the homepage: https://www.figma.com/proto/eHBSunqUv10fMcWmiEEXiv/Website?page-id=0%3A2160&node-id=1127%3A4370&viewport=-4728%2C237%2C0.25&scaling=min-zoom

You can also click on the main features to see the different illustrations for those.

[2022-06-28 10:38] BeccaMelhuish commented on #298
It really is shaping up beauuttifully, so good to see 😍🙌

A few minor thoughts to share from me:

- Not sure if this matters (depends where Argo takes the copy from) but this sentence isn't the right one on Figma:
![image](https://user-images.githubusercontent.com/61320526/176157865-db6f38ee-9c6a-458a-a138-0d2e856e3163.png)

- For some reason this guy makes me think of "[tin foil hat](https://www.

[2022-06-28 10:48] BeccaMelhuish commented on #298
And @anettlinno @oksks I guess we need to re think this line (seeing as it might not be for always):

![image](https://user-images.githubusercontent.com/61320526/176159357-d00d96fd-3b55-48d5-8b6d-a48cf6f32ee1.png)

Maybe: "It's free for everyone! Just log in and get discussing." ?

[2022-06-28 11:37] anettlinno commented on #298
@kevincrepin I absolutely love it! So beautiful! @BeccaMelhuish, I think that texts can be changed by Oks as well once it´s developed by Argo :)

And "Features" design is similar to UX/UI redesign! (Y)

[2022-06-28 11:40] anettlinno commented on #298
Later, when we have the templates, we could add there platform illustrations as currently there are no pictures of that. BUT again, we could use those more on the Product page to show people that it is ready-made platform :)

[2022-07-04 07:30] kevincrepin commented on #298
Just wanted to let you know I've made a couple updates to the illustrations and. as far as I'm concerned, the designs are ready to start development. We'll probably need some more illustrations for different subpages, but let's tackle those when the content for those pages exists.

[2022-07-04 10:44] oksks commented on #298
Thank for your input, guys, it's shaping up really nicely and looks like a web we can be proud of!
@anettlinno is right, exact wording doesn't matter as much, as long as there's approximately the same amount of it - I can update texts anytime.
@BeccaMelhuish - I like your copy version for the bottom chunk, will use it.

---

**OK, moving this into development phase <3**

@argoroots, could you plea

[2022-07-18 09:43] oksks commented on #298
@argoroots could you please provide an estimate for completion of this task? It's been 2 weeks.
Thanks!

[2022-07-22 11:21] BeccaMelhuish commented on #309
@ilmartyrk did you have some thoughts on which of these things above would need to be done by Argo, and which by yourself, or a combination of the two of you? As it would be really good to get them fixed soon I feel - especially the back button behaviour as a priority, as that's really dodgy UX at the moment, but the rest would be good to have tidied up too to have it looking slick :)

[2022-07-25 08:32] oksks commented on #298
@argoroots ?

[2022-07-25 08:38] argoroots commented on #298
@oksks I think, that it is possible to finish it this week.

[2022-07-26 12:51] BeccaMelhuish commented on #309
And just to clarify for number 4, copied below, the idea is to remove the breadcrumbs from the platform version once the top titles are (hopefully) fixed, right? As Kevin confirmed that this was unnecessary there, and makes unnecessary clutter. (Whereas on the website it is very useful - it is making navigation so much easier already!).

_4 - Reactive top title/label
The idea was that the top titl

[2022-07-26 13:04] BeccaMelhuish commented on #308
@argoroots An additional issue which I just discovered. When searching for "co-creating a topic text" when I type in just "co-creating" it finds nothing:

https://github.com/citizenos/citizenos-web/issues/309

Whereas typing in "topic text" does find the topic in question:

![image](https://user-images.githubusercontent.com/61320526/181012785-c22996b8-91c8-4642-96df-1d69fd8b5ecc.png)

[2022-07-26 13:07] BeccaMelhuish commented on #308
It would also seem to be better UX if there was a message saying "No results found" in such situations, as currently it just comes up blank.

[2022-08-01 08:19] oksks commented on #298
@argoroots how we doin'? :)

[2022-08-03 07:43] argoroots commented on #298
There are all front page sections now done and visible https://citizenos.com/v2/design.

[2022-08-22 09:47] ilmartyrk opened #315 "Add list of open data sources to HC"
We should add a list of open data sources to help-center so that users would have some verified sources to their topics/arguments etc.

[2022-09-06 11:58] oksks commented on #298
@argoroots
Could you please adjust the following items on frontpage's V2:

- [ ] COS videos should play within the page - same solution as right now on the website
- [ ] "Who uses our platform" section - clicking "Read more" CTA's should expand the text in the same view
- [ ] Hide "Quick-start with our templates" section for now (but please leave it there in the code), as we don't have templates y

[2022-09-26 16:58] BeccaMelhuish opened #318 "PAGE: Democracy Defenders Accelerator"
**What needs to be done and why?**
1 main page with 2 sub-pages for the DDA project.

**Location**
URL should be www.citizenos.com/DDA
Should sit under "projects" in the website structure.
@ssin1901 shall we replace PYLN with this for now (as PYLN no longer exists? Or I'm mistaken?), on [this](url) page? But put it at the top?

**Future path/style block name**
@oksks Sorry I didn't understand this

[2022-09-27 14:40] BeccaMelhuish commented on #318
Just adding here that it's confirmed by @ssin1901 that we can replace PYLN on the projects page with DDA :)

[2022-09-27 15:50] oksks commented on #318
@BeccaMelhuish - the URL would then be citizenos.com/projects/dda, was that what you've had in mind? And also then we should move https://citizenos.com/civic-hackathon/ to https://citizenos.com/projects/civic-hackathon/, too?
Or you've meant I should link to DDA page from under the "projects" tab, just like with the CH page?

[2022-09-27 15:55] BeccaMelhuish commented on #318
@oksks Ah OK no I think it would be best to keep the URL as just /DDA. So yes, more the latter - just link to it from the projects page :)

[2022-09-27 15:59] oksks commented on #318
@BeccaMelhuish I haven't changed any coloring. :)

Future path/style block name - basically, template name for this kind of block, should it be generalized. In case with this page,  it's likely "Event page template" so it's easy to find in the future.

Will mark uploaded blue commented parts with "Done".

Not possible now, can request for the future.

Keywords - great stuff, thanks. Maybe somethin

[2022-09-27 16:07] BeccaMelhuish commented on #318
Wonderful all good, thank you @oksks!

Have added a few more ideas to the key words list now :)

[2022-09-27 16:11] oksks commented on #296
@argoroots
1)  "Registration Deadline" additional info point design to summary box - this point still isn't done, albeit marked as such
2)  "Make sure agenda section stands out from the rest of the text" - marked as done - pls provide instructions on how to implement this part
3)  "Add a "Contact us" style box" - this point isn't yet done

These are all needed urgently, please action ASAP.

[2022-09-27 19:32] oksks commented on #296
After trying to use the template further, I've added a few more points to the list, that need to be implemented - some found bugs, some additional features.

[2022-09-30 12:25] ssin1901 commented on #318
Hey @oksks , here are the form links

1. DDA Application form: https://forms.gle/ZonycpdDouu9yTTQ8

2. DDA Information Seminar - November 1
https://forms.gle/2EP189WGSqvXpmyJ9

Tagging @BeccaMelhuish

[2022-10-05 11:50] oksks commented on #318
DDA is live :) Are you good with closing this issue @BeccaMelhuish ?

[2022-10-05 12:03] oksks commented on #315
@ilmartyrk, is that a task for Becca?

[2022-10-06 06:04] argoroots commented on #287
done

[2022-10-06 07:02] argoroots commented on #308
@anettlinno I can add special search keywords field to search pages where You can store words what must find this page. Should I?

I removed search field autocomplete and improved search to find certain words what @BeccaMelhuish mentioned.

[2022-10-06 07:22] argoroots commented on #309
1 and 2 are fixed.
3–6 are in app side and is for @ilmartyrk.

[2022-10-06 19:30] argoroots commented on #298
@oksks, please test.

[2022-10-06 19:33] argoroots commented on #296
ETA: 10.10.2022

[2022-10-10 10:34] oksks commented on #307
@argoroots, could you please implement Kevin's design. Thanks!

[2022-10-10 10:35] ilmartyrk commented on #315
@oksks I think it's more general task, maybe we should start from listing any know sources under this issue and if it looks complete enough we can add it to HC.

[2022-10-10 10:36] ilmartyrk commented on #315
List of sources:

- https://avaandmed.eesti.ee/

[2022-10-10 11:18] argoroots commented on #308
@oksks, There is one service for site search: https://www.algolia.com/products/search-and-discovery/hosted-search-api/

Should I implement it?

[2022-10-10 11:30] oksks commented on #308
@argoroots thanks, just checked, seems legit - is it free to implement? I'd love to test it out and see how it works with the languages I speak.

[2022-10-10 11:41] argoroots commented on #308
@oksks, up to 10000 search per month is free: https://www.algolia.com/pricing/

[2022-10-10 11:59] oksks commented on #308
Works for us then, let's do it - thanks @argoroots !

[2022-10-11 06:15] argoroots commented on #296
@oksks for buttons add { .btn .btn-primary } or { .btn .btn-donate } to end of link for blue and pink buttons. It's not easy to bring over new design buttons to old page without breaking old buttons and will not look good if some buttons on page are different than others.

[2022-10-13 17:42] BeccaMelhuish commented on #318
Hey @oksks yes looks good to me thank you!

Only very minor thing, could you remove this date please (on DDA homepage), just for consistency:
![image](https://user-images.githubusercontent.com/61320526/195667243-6261a8fe-27f2-4e73-a0fe-1c35abece18e.png)

And is the page jumping function (links at the top that take you further down the same page) cutting off the top of the subsection title that cou

[2022-10-13 17:48] BeccaMelhuish commented on #309
Hey @oksks and @argoroots - just had a look and No. 1 (back button) doesn't seem to be fixed to me.. Is there something that @ilmartyrk needs to do to make whatever changes Argo made come into effect?

And just to recap on the problem, when you are in a "Level 2" page on the platform, like in the screenshot below, it takes you back to "Home", but it should take you back to where you just were. (I.

[2022-10-15 11:43] oksks commented on #318
Hi @BeccaMelhuish - I've fixed the dates, however I have to ask @argoroots to help with the preview fixes.
Argo - could you please sort this out as soon as possible? Thanks!

[2022-10-18 07:23] argoroots commented on #318
Page title (_title_ field in data.*.yaml files) should not include HTML.

[2022-10-18 09:00] ssin1901 opened #335 "TASK: Replace project/block from citizenos.com/projects"
**What needs to be done?**
Replace Civic Hackathon image and text

![Screenshot 2022-10-18 at 11 48 31](https://user-images.githubusercontent.com/72747107/196383247-ac4e6569-c5ad-4225-a080-3f6c72bbb18e.png)

With new image and text

Image (left): @BeccaMelhuish

**Structure (right)**
**Heading**: Democracy Defenders Accelerator
**Body**: An online and offline 10-month programme where participants

[2022-10-19 06:19] BeccaMelhuish commented on #318
@oksks Two more requests for a text update please! Have tagged you in comments in the relevant places :)

[Homepage](https://docs.google.com/document/d/1fA2YwvAFZNaBlieVBTjoc8ta2c8LK-I8kzNFmHGxQDI/edit?usp=sharing):
![image](https://user-images.githubusercontent.com/61320526/196610826-7b5f09f7-6984-4eed-ac0a-afd2cf0513db.png)

[Programme page](https://docs.google.com/document/d/1ImfG0IO4piIsyaO9bw

[2022-10-20 19:47] BeccaMelhuish commented on #318
Hey @oksks! As per Sara's comment in Slack, some issues here:

![image](https://user-images.githubusercontent.com/61320526/197042697-3a6a3467-c261-4847-a2a7-a18fed837fcf.png)

The same <br> thing as in the social media preview - is this from the vertical line perhaps? If possible to fix it would be great, it's cropping up in a few places.

And suggested replacement copy:
_An immersive 10-month civ

[2022-10-21 13:46] oksks commented on #318
@BeccaMelhuish Hi, I've updated the text on homepage and programme pages.
The <br> issue was already fixed by @argoroots, I believe - as per his comment above.

Did you mean I should replace the title of all 3 pages with the replacement copy you've provided? Or what's that for :)

[2022-10-21 14:18] BeccaMelhuish commented on #318
Hey @oksks, thank you!

If you Google "Democracy Defenders Accelerator" currently you get this, still with the "br" showing, and the replacement copy was for the text marked red here:

![image](https://user-images.githubusercontent.com/61320526/197217112-e79eb5d0-a131-41ad-8610-2aea432456dd.png)

Also, we now have a slightly adjusted [applicants infopack](https://drive.google.com/file/d/1osvXQ5c5f

[2022-10-21 14:20] oksks commented on #318
@BeccaMelhuish ah gotcha. Will replace the text in 5mins.
Will also replace the infopack file, it won't affect the URL.
Application guidelines > process is an easy change as well.

[2022-10-21 14:22] BeccaMelhuish commented on #318
Super thank you @oksks!

And for the application guidelines, please change it here (homepage) too, as well as at the top :)
![image](https://user-images.githubusercontent.com/61320526/197218560-d183aedf-6ae6-4c92-85f1-71f5b39b77a9.png)

[2022-10-21 14:32] oksks commented on #318
Done @BeccaMelhuish - changes to be live in a couple of minutes.

If I'm not mistaken, Google takes a while to crawl the pages and refresh the preview content? It doesn't sync immediately.

[2022-10-21 14:46] BeccaMelhuish commented on #318
@oksks OK thanks very much! Will keep an eye on it then :)

And just added 3 minor text tweaks for you in comments on the [Programme page](https://docs.google.com/document/d/1ImfG0IO4piIsyaO9bwNRTM102b7aYCxqlTAYI8IBV9o/edit?usp=sharing) too, not urgent though!

[2022-10-24 08:42] BeccaMelhuish commented on #318
Hey @oksks! Seems like the updates here didn't work, as it's been a few days now?

![image](https://user-images.githubusercontent.com/61320526/197485266-ba180323-740d-4eb2-9c9e-caa5935ee817.png)

[2022-10-26 12:43] ssin1901 commented on #318
Hey @oksks @BeccaMelhuish seems to be resolved now
![Screenshot 2022-10-26 at 15 38 29](https://user-images.githubusercontent.com/72747107/198029022-8fcab3b0-185b-4e57-9679-96c9fa16f0af.png)

[2022-10-26 14:41] BeccaMelhuish commented on #318
Great! Though still the old sentence showing up here..

![image](https://user-images.githubusercontent.com/61320526/198057015-9f93f69c-5916-43cf-a09b-5653e0b24a19.png)

[2022-10-26 14:50] ssin1901 commented on #318
@BeccaMelhuish thank you for noticing! @oksks yes the <br> us resolved but as Becca mentioned it still says 10 days instead of 10 months.

[2022-10-26 21:26] BeccaMelhuish commented on #318
@ssin1901 @oksks One odd thing, in social media preview this sentence comes out correctly now, but still not in Google search results..

![image](https://user-images.githubusercontent.com/61320526/198141436-1bb86fe6-dc2c-461d-86aa-173fb903828b.png)

[2022-10-30 12:38] ssin1901 opened #338 "BUG: DDA Applicant Information Package loads blank PDF"
**Describe the bug**
The pdf on the following page is blank.

https://citizenos.com/assets/files/DDA_Applicants_infopack.pdf (also see screenshot)

It needs to be **replaced** with a new pdf (sent to @oksks)

**How critical is the bug?**
Urgent/Critical.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://citizenos.com
2. Scroll down to end of the page3.
3. Click on https://citizen

[2022-10-30 17:09] oksks commented on #338
Ouch, probably caused by me - I did download the file after replacing it to check that it downloads, but I didn't realize I should open it, too. Sorry! Fixed.
https://citizenos.com/assets/files/DDA_Applicants_infopack.pdf

[2022-10-30 17:10] #338 closed

[2022-11-08 17:05] ssin1901 opened #339 "TASK: Add team description to the page Democracy Defenders Accelerator (New Section)"
**What needs to be done?**

**Content**
SECTION
HEADING
Project Team, Facilitators and Mentors

SUBHEADING
Sara Sinha, project manager, facilitator and mentor

IMAGE
@BeccaMelhuish

BODY COPY
Sara Sinha is the Partnerships and Community Lead at Citizen OS. Sara has
expertise in digital governance and accessibility in design.

LINKS
Icon: @BeccaMelhuish
URL: @BeccaMelhuish

SUBHEADING
Agustina Iska

[2022-11-11 13:02] BeccaMelhuish commented on #318
Hey @oksks I just checked the above again and its still saying its a 10-day programme in Google search results.. Anything that can be done to fix that? Also is showing th e "br" things again for some reason! (Which I thought was fixed already, but maybe am misremembering)

![image](https://user-images.githubusercontent.com/61320526/201345878-2303eea1-0b43-46a9-9848-c52079eb6d74.png)

[2022-11-11 13:08] BeccaMelhuish commented on #318
@oksks As per the Slack thread, we've got a few changes to request now that applications have been closed :)

Here is a mockup of how the "Apply" box should look now, and I've added in blue where other edits should be made, in the Google docs:

- [DDA Homepage](https://docs.google.com/document/d/1fA2YwvAFZNaBlieVBTjoc8ta2c8LK-I8kzNFmHGxQDI/edit?usp=sharing)
- [DDA Application Process](https://docs

[2022-11-11 16:47] oksks commented on #318
Hey hey, not sure what I can do about the "10-day" and <br> issue, as everything is correct on our side, I've just double-checked.

About deactivating the button - I've just spent 1.5 hours, trying to do that and then googling what can be done - the button is hardcoded into the template and I can't remove it. Wrote to Argo, asking to assist me with this ASAP.
Sorry, I had no way of knowing of this

[2022-11-11 18:37] BeccaMelhuish commented on #318
@oksks ah that's a shame about the Google search results - maybe Argo could advise, in case there's a trick to it?

And no worries re the button! Maybe we just make the button say "Applications closed" for now at least.

And @ssin1901 you will close the form now, right? Then even if they do click on it, they won't fill out the form..

[2022-11-11 18:58] BeccaMelhuish commented on #318
@oksks just FYI @ssin1901 has closed the form now :)

[2022-11-11 19:05] BeccaMelhuish commented on #318
On reflection I think it might look pretty odd to have a button that says "Applications closed" as I suggested above? So we could also just stick to the original plan (the mockup screenshot above), and nevermind if people click the Apply button, they'll find out soon enough that it's closed.. Or maybe there's another solution? Link to the Applicants infopack from the button instead perhaps?

[2022-11-13 21:45] oksks commented on #318
@ssin1901 @BeccaMelhuish
Argo has removed the button and fixed the template tonight, so that it would be possible for me to hide it (for future events' sake).
I've tried to implement the screenshot from above, but seems like the template prohibits any text wraps AND formatting :D So I did a workaround and added text as a headline:

<img width="355" alt="Screenshot 2022-11-13 at 23 26 24" src="http

[2022-11-14 08:40] BeccaMelhuish commented on #318
Thank you @oksks!

Works for me :)

I think let's change the box heading to this though now (a bit repetitive with the other headings but at least not mixed messages):

![image](https://user-images.githubusercontent.com/61320526/201613927-335bbdb4-a91c-4b4e-b4ab-280cb2d021a6.png)

[2022-11-18 17:57] BeccaMelhuish commented on #318
@oksks Info seminar Youtube video link is now ready! Will also add to the relevant places in the docs :)

https://www.youtube.com/watch?v=1Vi3Is3AB78

[2022-11-25 09:56] BeccaMelhuish commented on #335
@oksks wondering if you saw this one, so tagging you again just in case not :) (Not that it's urgent though)

[2022-11-25 11:55] oksks commented on #335
Done! Sorry for the delay.
Please check and confirm that's what you've wanted - the image looks a bit bleek, wdyt, maybe let's do a more contrast-ey version?
Unfortunately, can't swap the last block's photo with the text so it would make sense in the alignment, it's built this way. :/

[2022-11-25 14:46] BeccaMelhuish commented on #339
@oksks @ssin1901 I've now added this text to the [relevant Google doc](https://docs.google.com/document/d/1ImfG0IO4piIsyaO9bwNRTM102b7aYCxqlTAYI8IBV9o/edit?usp=sharing) in the relevant place (where Sara and I discussed that it should go - at the end of the programme sub-page).

I added the LinkedIn links, like this (so no need for icons).
![image](https://user-images.githubusercontent.com/61320526

[2022-11-27 23:07] oksks commented on #339
@ssin1901 @BeccaMelhuish done, please check it at the [programme](https://citizenos.com/dda/programme) page.
I've also added a link to the section to the top navigation, and placed LinkedIn links on separate row,s as I feel this structured the sections better visually, sort of having a beginning and end - let me know if you prefer it the originally requested way.

Could you please kindly assign an

[2022-11-28 10:46] BeccaMelhuish commented on #339
Looks great to me thank you @oksks!!

[2022-11-28 10:53] BeccaMelhuish commented on #339
P.S. @oksks just a couple of edits added above, in case you didn't see as I edited them in after commenting :)

[2022-11-29 12:31] oksks commented on #335
@BeccaMelhuish I've just checked - there's standard space between chunks in the code, so there's nothing I could remove, unfortunately.
Awesome re: the Youth Exchange project - please create a new ticket when the content's ready :) Thanks!

[2022-11-29 12:31] #335 closed

[2022-11-29 12:32] oksks commented on #308
@argoroots Hi, is this implemented and can be tested and closed?

[2022-11-29 12:46] oksks commented on #339
Done! :)

[2022-11-29 12:46] #339 closed

[2022-11-29 12:48] oksks commented on #298
All good, done and live, thanks @argoroots!! :)

[2022-11-29 12:48] #298 closed

[2022-11-29 16:21] BeccaMelhuish opened #343 "TASK: Add Youth Exchange block to Projects page"
**What needs to be done?**

The following block to be added to the Projects page. (Ideally right-aligned between the two left-aligned blocks at the bottom?):

**Erasmus+ Youth Exchange**

In our ʻDigital Transformation for Civic Engagementʼ youth exchange programme, Europe’s next generation of leaders learn civic engagement project design and participatory leadership, through hands-on ʻlearning by